
/*FEATURES*/
.container {
    margin-top: 20px;
    max-width: 100%;
}
.container p {
    font-weight: 100;
    font-size: 12px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

.col-sm {
    flex: 0 0 auto;
    width: 50%;
    position: relative;
   
}
.col-md {
    flex: 0 0 auto;
    width: 100%;
    position: relative;
   
}
 .col-sm h3 {
     color: #5E6A5E;
     font-weight: 100;
     font-size: 12px;
     margin-top: 9.16px;
 }


.col-sm p {
    color: #0B0B0B;
    font-weight: 300;
    font-size: 12px;
}

.img-fluid imgfive {
    display: relative;
    padding: 0;
}
.fa-heart {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 141px;
}

