
/*HEADER*/
.container-fluid
{
    margin: 0;
    padding:0;
}

.card-img-top 
{
    max-height: 220px;
    object-fit: cover;
    object-position: center;
    position: right top;
}

.card-body 
{
    background-color: #fade38;
}

.card-body h1 
{
    letter-spacing: 2.4px;
    color: #13425E;
}

.card-body p 
{
    text-align: left;
    color: #5e6a5e; 
}